@model HomeModel
@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="stylesheet" href="~/css/right.css" />
        <link rel="stylesheet" href="~/css/pagedlist.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/index.min.css" />
        <link rel="stylesheet" href="~/css/right.min.css" />
        <link rel="stylesheet" href="~/css/pagedlist.min.css" />
    </environment>
}

<header>
    <a asp-controller="Home" asp-action="Index" class="text-center title"><h1>Blog</h1></a>
</header>
<div class="content row">
    <div class="main col-md-8">
        <div class="articles">
            @foreach (var article in Model.Articles)
            {
                <div class="article">
                    <div class="article-title">
                        <a asp-controller="Article" asp-action="Index" asp-route-id="@article.ArticleID"><h3>@article.ArticleTitle</h3></a>
                    </div>
                    <div class="article-content">
                        <p>@article.ArticleSummary</p>
                    </div>
                </div>
            }
        </div>
        <div class="pager">
            <pager list="Model.Articles" param-page-number="@Model.PageNum" asp-controller="Home" asp-action="Index" asp-route-Keyword="@Model.Keyword" asp-route-CategoryID="@Model.CategoryID"></pager>
        </div>
    </div>
    @Html.Partial("Right")
</div>






